/* Media Queries */
@media(min-width: 768px) {
    /* Main Showcase */
    #showcase h1 {
        font-size: 4rem;
    }

    /* About Info / Page
    ============================================================================= */
    #about .about-wrap {
        max-width: 1100px;
        margin: auto;
        flex-direction: row;
    }

    #about .about-wrap img {
        width: 300px;
        height: 300px;
    }

    /* Why Us Info ( 3 )
    ============================================================================= */
    #why-us {
        max-width: 1100px;
        margin: auto;
    }

    #why-us .why-wrap {
        flex-direction: row;
        align-items: stretch;
    }

    #why-us .why-wrap .why-box {
        flex: 1;
    }

    /* Services Info / Page ( 6 )
    ============================================================================= */
    #services {
        max-width: 1100px;
        margin: auto;
    }

    #services .services-wrap {
        flex-direction: row;
    }

    #services .services-wrap .test {
        margin: 0 0.5rem;
    }

    #services .services-wrap .services-box:hover {
        transform: rotate(3deg);
        transition: all 0.5s ease;
    }

    #services .services-wrap .services-box:hover a:hover {
        color: var(--orange);
    }

    /* Testimonials Info ( 3 )
    ============================================================================= */
    #testimonials {
        max-width: 1100px;
        margin: auto;
    }

    #testimonials .testi {
        flex-direction: row;
    }

    #testimonials .testi .testi-box {
        flex-direction: column;
        align-items: center;
    }

    #testimonials .testi-box .testi-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Blog Info ( 3 )
    ============================================================================= */
    #blog-posts {
        max-width: 1100px;
        margin: auto;
    }

    #blog-posts .article-wrap {
        flex-direction: row;
        align-items: center;
    }

    /* Contact Info / Page
    ============================================================================= */
    #contact {
        max-width: 1100px;
        margin: auto;
    }

    #contact .contact-wrap {
        flex-direction: row;
        align-items: stretch;
    }

    #contact .contact-wrap .form-wrap {
        width: 50%;
        /* padding-left: 3rem; */
    }

    #contact .contact-wrap .secondary-contact {
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    #contact .contact-wrap .secondary-contact .sec-cont-box {
        padding: 0.5rem 0;
    }

    /* Blog Page
    ============================================================================= */
    #blog-page {
        max-width: 1100px;
        margin: auto;
    }

    #blog-page .blog-wrap .blog-page-box {
        display: flex;
        flex-direction: row;
    }

    #blog-page .blog-wrap .blog-page-box img {
        width: 400px;
        height: auto;
        border-radius: 1rem 0 0 1rem;
    }

    /* Gallery
    ============================================================================= */
    .gallery {
        max-width: 1100px;
        margin: auto;
    }

    /* Services Page ( Wood, Vinyl, Aluminum, Hardie, Eavestrough, Sofit/Fascia )
    ============================================================================= */
    #services-page {
        max-width: 1100px;
        margin: auto;
    }
}