/* Root
============================================================================= */
:root {
    --color1: #05253A;
    --color2: #4C847B;
    --color3: #E1DEBF;
    --color4: rgba(5,37,58, 0.7);
    --color5: #F6F6F6;
    --color6: #ddd;
    --white: rgba(255,255,255,1);
    --orange: rgba(255,108,9,1);
    --orange1: rgba(255,108,9,0.6);
    --blue: rgba(47,88,110,1);
    --grey: rgba(212,212,212,1);
    --menu-speed: 0.75s;
}

/* Css Reset
============================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Core Styles
============================================================================= */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

/* Utilities
============================================================================= */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0.4rem;
}

ul {
    margin: 1rem 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    padding: 0.8rem 0.4rem;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--color2);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    margin: 1.5rem 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 0.5rem;
}

.btn:hover {
    opacity: 0.7;
}

.btn-dark {
    display: inline-block;
    border: none;
    background: var(--color1);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    margin: 1.5rem 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 0.5rem;
}

.btn-dark:hover {
    opacity: 0.7;
}

.btn-special {
    display: inline-block;
    border: none;
    background: var(--orange);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    margin: 1.5rem 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 0.5rem;
}

.btn-special:hover {
    opacity: 0.7;
}

.mark {
    color: var(--orange);
}

/* Navigation
============================================================================= */
.aw-logo {
    color: var(--orange);
}

.logo {
    color: var(--white);
}

#navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 20px;
}

.proba {
    width: 100%;
    height: 60px;
}

/* Showcase Info
============================================================================= */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase {
    background: var(--color4);
    color: var(--white);
    height: 100vh;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../img/dfmm-siding-company-cover.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#showcase h1 {
    font-size: 3rem;
}

#showcase p {
    font-size: 1.3rem;
}

/* Showcase For Pages
============================================================================= */
#s-case {
    background: var(--color4);
    color: var(--white);
    height: 60vh;
    position: relative;
}

#s-case:before {
    content: '';
    background: url('../img/dfmm-siding-company-cover.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#s-case .s-case-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#s-case h1 {
    font-size: 2rem;
}

#s-case p {
    font-size: 1.3rem;
}


/* About Info Section / Page
============================================================================= */
#about {
    text-align: center;
    padding: 3rem 0;
}

#about .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h2 {
    padding: 1rem 0;
}

#about .about-wrap img {
    width: 320px;
    height: 320px;
}

#about .about-wrap p {
    margin: 0 1rem;
}

/* Why Us Info Section / Page
============================================================================= */
#why-us {
    text-align: center;
    padding: 3rem 0;
}

#why-us h2 {
    padding: 1rem 0;
}

#why-us .why-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#why-us .why-wrap .why-box {
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: -0px 1px 7px 0px var(--grey);
    border-radius: 1rem;
}

#why-us .why-wrap .why-box img {
    width: 50px;
    height: 50px;
    margin: 1rem 1rem;
    filter: invert(10%) sepia(52%) saturate(1753%) hue-rotate(177deg) brightness(96%) contrast(97%);
}

/* Service Info Section / Page
============================================================================= */
#services {
    text-align: center;
    padding: 3rem 0;
}

#services h2 {
    padding: 1rem 0;
}

#services .services-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

/* #services .services-wrap .test {
    
} */

#services .services-wrap .test .services-box {
    box-shadow: -0px 1px 7px 0px var(--grey);
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5rem 5rem;
    width: 350px;
}

#services .services-wrap .test .services-box img {
    display: inline-block;
    width: 40px;
    height: 40px;
    /* border-radius: 5rem 0 0 5rem; */
    margin: 1rem 0;
    filter: invert(47%) sepia(98%) saturate(1796%) hue-rotate(352deg) brightness(97%) contrast(108%);
}

#services .services-wrap .test .services-box h3 {
    display: inline-block;
    width: 70%;
}

#services .services-wrap .test .services-box h3 a {
    color: var(--color1);
}

/* Testimonial Info Section
============================================================================= */
#testimonials {
    text-align: center;
    padding: 3rem 0;
}

#testimonials .testi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#testimonials .testi .testi-box {
    border-radius: 1rem;
    box-shadow: -0px 1px 7px 0px var(--grey);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#testimonials .testi .testi-box img {
    width: 30px;
    height: 30px;
}

#testimonials .testi .testi-box p {
    font-style: italic;
    font-size: small;
}

#testimonials .testi-box .testi-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#testimonials .testi-box .testi-1 img {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

#testimonials .testi .testi-box .testi-1 h4 {
    margin-left: 1rem;
}

/* Blog Info Section
============================================================================= */
#blog-posts {
    text-align: center;
    padding: 3rem 0;
}

#blog-posts h2 {
    padding: 1rem 0;
    text-align: center;
}

#blog-posts .article-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#blog-posts .article-wrap .blog-box {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: -0px 1px 7px 0px var(--grey);
}

#blog-posts .article-wrap .blog-box img {
    border-radius: 1rem 1rem 0 0;
}

#blog-posts .blog-box h3 {
    margin: 1rem 0;
}

#blog-posts .article-wrap .blog-box .btn-special {
    display: inline-block;
    margin: auto;
    margin-bottom: 1rem;
}

/* Blog Page
============================================================================= */
#blog-page {
    text-align: center;
    padding: 3rem 0;
}

#blog-page h2 {
    padding: 1rem 0;
    text-align: center;
}

#blog-page .blog-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#blog-page .blog-wrap .blog-page-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: -0px 1px 7px 0px var(--grey);
}

#blog-page .blog-wrap .blog-page-box img {
    border-radius: 1rem 1rem 0 0;
}

#blog-page .blog-wrap .blog-page-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog-page .blog-wrap .blog-page-box h3 {
    margin: 1rem 0;
}

#blog-page .blog-wrap .blog-page-box div .btn-special {
    display: inline-block;
    margin: auto;
    margin-bottom: 1rem;
}

/* New Page Section On Page
============================================================================= */
#new-page {
    text-align: center;
    padding: 3rem 0;
    font-size: small;
}

/* Contact Info Section / Page
============================================================================= */
#contact {
    text-align: center;
    padding: 3rem 0;
}

#contact h2 {
    padding: 1rem 0;
}

#contact .contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem 0 0 0;
    margin-top: 1rem;
}

#contact .contact-wrap .form-wrap {
    padding: 1rem 0;
}

#contact .contact-wrap .form-wrap form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#contact .contact-wrap .form-wrap form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
}

#contact .contact-wrap .form-wrap form .form-group input,
#contact .contact-wrap .form-wrap form .form-group textarea {
    padding: 0.5rem;
    border: 2px solid var(--color1);
    border-radius: 1rem;
}

/* ======================= Secondary Contact ================== */
#contact .contact-wrap .secondary-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#contact .contact-wrap .secondary-contact .sec-cont-box {
    padding: 1rem;
}

#contact .contact-wrap .secondary-contact .sec-cont-box img {
    width: 30px;
    height: 30px;
    margin-bottom: 1rem;
    filter: invert(47%) sepia(98%) saturate(1796%) hue-rotate(352deg) brightness(97%) contrast(108%);
}

/* Map Info Section / Page
============================================================================= */
.map {
    width: 100%;
}

/* Footer Info Section / Page
============================================================================= */
#footer {
    padding-top: 1rem;
    text-align: center;
    background: var(--color1);
    color: var(--white);
}

#footer p {
    font-size: x-small;
}

#footer .locations h2 img {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(355deg) brightness(101%) contrast(106%);
}

#footer .locations h2 {
    padding: 1rem 0;
}

#footer .locations ul {
    padding-bottom: 0.5rem;
}

#footer .locations ul li {
    display: inline;
    padding-right: 0.5rem;
}

#footer .locations ul li a {
    color: var(--color2);
}

#footer .locations ul li a:hover {
    color: var(--orange);
    text-decoration: underline;
}

/* Social Icons Info Section / Page
============================================================================= */
.social-icons {
    text-align: center;
}

.social-icons h4 {
    margin-bottom: 1rem;
}

.social-icons div img {
    width: 25px;
    height: 25px;
    margin: 0 0 1rem 0.5rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(355deg) brightness(101%) contrast(106%);
}

/* Gallery Page
============================================================================= */
#main-gall {
    text-align: center;
}

#main-gall h1 {
    padding: 3rem 0;
}

.hello {
    opacity: 1 !important;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}

.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
  
.byebye {
    opacity: 0;
}
  
.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery {
    padding: 3rem 0;
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

/* @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 500px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
} */

@-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}

/* Services Page (Wood, Vinyl, Aluminum, Hardie, Eavestrough, Sofit/Fascia)
============================================================================= */
#services-page {
    padding-top: 3rem;
}

#services-page .services-page-wrap {
    margin: 0rem 0.5rem;
}

#services-page .services-page-wrap h2 {
    padding: 2rem 0 1rem 0;
}

#services-page .services-page-wrap img {
    border-radius: 1rem;
}

#services-page .services-page-wrap ul {
    list-style: disc;
    margin-left: 1.5rem;
}

/* Location Pages (Burlington, Oakville, Hamilton...)
============================================================================= */
#city .city-wrap h1 {
    text-align: center;
    margin: 3rem;
}

/* Post 
============================================================================= */
#post .post-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#post .post-wrap .line {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-top: solid var(--grey) 1px;
    border-bottom: solid var(--grey) 1px;
    font-size: x-small;
    text-transform: uppercase;
}

#post .post-wrap .line .c {
    background-color: var(--grey);
    padding: 0.5rem;
    margin-right: .2rem;
 }

 #post .post-wrap .line .b {
     margin-right: .2rem;
 }

 #post .post-wrap .line .c a {
     color: var(--color1);
 }

#post .post-wrap h1 {
    margin: 3rem 1rem 3rem 1rem;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

#post .post-wrap h2 {
    padding: 3rem 0 0.5rem 0;
    text-align: center;
}

#post .post-wrap img {
    margin: .5rem 0;
}

#post .post-wrap ol, 
#post .post-wrap ul {
    margin: 1rem 0;
}

#post .post-wrap .tag {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: .5rem;
    font-size: xx-small;
}

#post .post-wrap .tags1 {
    background-color: var(--grey);
    padding: .5rem;
    color: var(--color1);
}

#post .post-wrap .tags2 {
    display: flex;
    flex-wrap: wrap;
}

#post .post-wrap .tags2 a {
    margin: .3rem;
    background-color: var(--grey);
    padding: .5rem;
    color: var(--color1);
}






